﻿@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<div class="banner1">
    <div class="container">
        <section class="slider">
            <div class="flexslider">
                <ul class="slides">
                    <li>
                        <div class="banner1-info">
                            <h3>Chitadama tours </h3>
                            <p>
                                Guests are welcome to share their photos with us
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="banner1-info">
                            <h3>Chitadama tours </h3>
                            <p>
                                Where dreams become a reality !
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="banner1-info">
                            <h3>Chitadama tours </h3>
                            <p>
                                ****An African holiday which leaves you with unforgettable memories for the whole family****
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
        <!--FlexSlider-->
        <link rel="stylesheet" href="~/webb/css/flexslider.css" type="text/css" media="screen" />
        <script defer src="~/webb/js/jquery.flexslider.js"></script>
        <script type="text/javascript">
            $(window).load(function () {
                $('.flexslider').flexslider({
                    animation: "slide",
                    start: function (slider) {
                        $('body').removeClass('loading');
                    }
                });
            });
        </script>
        <!--End-slider-script-->
    </div>
</div>
<div class="gallery">
    <div class="container">
        <h3>
            House Boat Trip Lake Kariba

        </h3>
        <p>
            Guests are welcome to share their photos with us
        </p>
        <div class="top-gallery">
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/HouseBoats/houseboat_%20(5).jpeg?updatedAt=1704014573842" class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/HouseBoats/houseboat_%20(5).jpeg?updatedAt=1704014573842" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/HouseBoats/houseboat_%20(2).jpeg?updatedAt=1704014573876" class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/HouseBoats/houseboat_%20(2).jpeg?updatedAt=1704014573876" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/HouseBoats/houseboat_%20(3).jpeg?updatedAt=1704014573923" class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/HouseBoats/houseboat_%20(3).jpeg?updatedAt=1704014573923" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/HouseBoats/houseboat_%20(7).jpeg?updatedAt=1704014573951" class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/HouseBoats/houseboat_%20(7).jpeg?updatedAt=1704014573951" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="top-gallery">
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/HouseBoats/houseboat_%20(8).jpeg?updatedAt=1704014573973" class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/HouseBoats/houseboat_%20(8).jpeg?updatedAt=1704014573973" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/HouseBoats/houseboat_%20(6).jpeg?updatedAt=1704014573989" class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/HouseBoats/houseboat_%20(6).jpeg?updatedAt=1704014573989" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/HouseBoats/houseboat_%20(10).jpeg?updatedAt=1704014574015" class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/HouseBoats/houseboat_%20(10).jpeg?updatedAt=1704014574015" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/HouseBoats/houseboat_%20(4).jpeg?updatedAt=1704014574016" class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/HouseBoats/houseboat_%20(4).jpeg?updatedAt=1704014574016" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="top-gallery">
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/HouseBoats/houseboat_%20(1).jpeg?updatedAt=1704014574023" class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/HouseBoats/houseboat_%20(1).jpeg?updatedAt=1704014574023" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/HouseBoats/houseboat_%20(9).jpeg?updatedAt=1704014574070" class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/HouseBoats/houseboat_%20(9).jpeg?updatedAt=1704014574070" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/HouseBoats/houseboat_%20(11).jpeg?updatedAt=1704014575712" class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/HouseBoats/houseboat_%20(11).jpeg?updatedAt=1704014575712" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/HouseBoats/houseboat_%20(12).jpeg?updatedAt=1704014575876" class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/HouseBoats/houseboat_%20(12).jpeg?updatedAt=1704014575876" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="top-gallery">
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/HouseBoats/houseboat_%20(14).jpeg?updatedAt=1704014575893" class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/HouseBoats/houseboat_%20(14).jpeg?updatedAt=1704014575893" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/HouseBoats/houseboat_%20(13).jpeg?updatedAt=1704014576002" class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/HouseBoats/houseboat_%20(13).jpeg?updatedAt=1704014576002" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/HouseBoats/houseboat_%20(19).jpeg?updatedAt=1704014576080" class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/HouseBoats/houseboat_%20(19).jpeg?updatedAt=1704014576080" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/HouseBoats/houseboat_%20(18).jpeg?updatedAt=1704014576433" class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/HouseBoats/houseboat_%20(18).jpeg?updatedAt=1704014576433" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="top-gallery">
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/HouseBoats/houseboat_%20(16).jpeg?updatedAt=1704014577118" class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/HouseBoats/houseboat_%20(16).jpeg?updatedAt=1704014577118" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/HouseBoats/houseboat_%20(15).jpeg?updatedAt=1704014577160" class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/HouseBoats/houseboat_%20(15).jpeg?updatedAt=1704014577160" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/HouseBoats/houseboat_%20(17).jpeg?updatedAt=1704014577164" class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/HouseBoats/houseboat_%20(17).jpeg?updatedAt=1704014577164" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/HouseBoats/houseboat_%20(20).jpeg?updatedAt=1704014577309" class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/HouseBoats/houseboat_%20(20).jpeg?updatedAt=1704014577309" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="top-gallery">
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/HouseBoats/houseboat_%20(22).jpeg?updatedAt=1704014578017" class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/HouseBoats/houseboat_%20(22).jpeg?updatedAt=1704014578017" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/HouseBoats/houseboat_%20(23).jpeg?updatedAt=1704014578049" class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/HouseBoats/houseboat_%20(23).jpeg?updatedAt=1704014578049" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/HouseBoats/houseboat_%20(24).jpeg?updatedAt=1704014578193" class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/HouseBoats/houseboat_%20(24).jpeg?updatedAt=1704014578193" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/HouseBoats/houseboat_%20(21).jpeg?updatedAt=1704014578390" class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/HouseBoats/houseboat_%20(21).jpeg?updatedAt=1704014578390" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="top-gallery">
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/HouseBoats/houseboat_%20(26).jpeg?updatedAt=1704014578479" class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/HouseBoats/houseboat_%20(26).jpeg?updatedAt=1704014578479" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/HouseBoats/houseboat_%20(25).jpeg?updatedAt=1704014578576" class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/HouseBoats/houseboat_%20(25).jpeg?updatedAt=1704014578576" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/HouseBoats/houseboat_%20(28).jpeg?updatedAt=1704014579252" class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/HouseBoats/houseboat_%20(28).jpeg?updatedAt=1704014579252" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/HouseBoats/houseboat_%20(27).jpeg?updatedAt=1704014579366" class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/HouseBoats/houseboat_%20(27).jpeg?updatedAt=1704014579366" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="top-gallery">
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/HouseBoats/houseboat_%20(29).jpeg?updatedAt=1704014579402" class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/HouseBoats/houseboat_%20(29).jpeg?updatedAt=1704014579402" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/HouseBoats/houseboat_%20(30).jpeg?updatedAt=1704014579509" class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/HouseBoats/houseboat_%20(30).jpeg?updatedAt=1704014579509" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/HouseBoats/houseboat_%20(32).jpeg?updatedAt=1704014579933" class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/HouseBoats/houseboat_%20(32).jpeg?updatedAt=1704014579933" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/HouseBoats/houseboat_%20(31).jpeg?updatedAt=1704014579983" class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/HouseBoats/houseboat_%20(31).jpeg?updatedAt=1704014579983" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="clearfix"> </div>
        </div>

        <div class="top-gallery">
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/HouseBoats/houseboat_%20(33).jpeg?updatedAt=1704014580140" class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/HouseBoats/houseboat_%20(33).jpeg?updatedAt=1704014580140" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/HouseBoats/houseboat_%20(34).jpeg?updatedAt=1704014580428" class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/HouseBoats/houseboat_%20(34).jpeg?updatedAt=1704014580428" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/HouseBoats/houseboat_%20(35).jpeg?updatedAt=1704014580560" class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/HouseBoats/houseboat_%20(35).jpeg?updatedAt=1704014580560" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/HouseBoats/houseboat_%20(36).jpeg?updatedAt=1704014580708" class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/HouseBoats/houseboat_%20(36).jpeg?updatedAt=1704014580708" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="top-gallery">
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/HouseBoats/houseboat_%20(37).jpeg?updatedAt=1704014581225" class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/HouseBoats/houseboat_%20(37).jpeg?updatedAt=1704014581225" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/HouseBoats/houseboat_%20(38).jpeg?updatedAt=1704014581378" class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/HouseBoats/houseboat_%20(38).jpeg?updatedAt=1704014581378" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/HouseBoats/houseboat_%20(39).jpeg?updatedAt=1704014581441" class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/HouseBoats/houseboat_%20(39).jpeg?updatedAt=1704014581441" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/HouseBoats/houseboat_%20(40).jpeg?updatedAt=1704014581736" class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/HouseBoats/houseboat_%20(40).jpeg?updatedAt=1704014581736" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="top-gallery">
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/HouseBoats/houseboat_%20(41).jpeg?updatedAt=1704014581863" class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/HouseBoats/houseboat_%20(41).jpeg?updatedAt=1704014581863" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/HouseBoats/houseboat_%20(42).jpeg?updatedAt=1704014582194" class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/HouseBoats/houseboat_%20(42).jpeg?updatedAt=1704014582194" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/HouseBoats/houseboat_%20(43).jpeg?updatedAt=1704014582202" class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/HouseBoats/houseboat_%20(43).jpeg?updatedAt=1704014582202" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/HouseBoats/houseboat_%20(44).jpeg?updatedAt=1704014582523" class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/HouseBoats/houseboat_%20(44).jpeg?updatedAt=1704014582523" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="clearfix"> </div>
        </div>

        <div class="top-gallery">
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/HouseBoats/houseboat_%20(45).jpeg?updatedAt=1704014582647" class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/HouseBoats/houseboat_%20(45).jpeg?updatedAt=1704014582647" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/HouseBoats/houseboat_%20(46).jpeg?updatedAt=1704014583827" class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/HouseBoats/houseboat_%20(46).jpeg?updatedAt=1704014583827" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/HouseBoats/houseboat_%20(47).jpeg?updatedAt=1704014583995" class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/HouseBoats/houseboat_%20(47).jpeg?updatedAt=1704014583995" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/HouseBoats/houseboat_%20(48).jpeg?updatedAt=1704014584201" class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/HouseBoats/houseboat_%20(48).jpeg?updatedAt=1704014584201" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="top-gallery">
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/HouseBoats/houseboat_%20(49).jpeg?updatedAt=1704014584332" class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/HouseBoats/houseboat_%20(49).jpeg?updatedAt=1704014584332" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/HouseBoats/houseboat_%20(50).jpeg?updatedAt=1704014584384" class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/HouseBoats/houseboat_%20(50).jpeg?updatedAt=1704014584384" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/HouseBoats/houseboat_%20(51).jpeg?updatedAt=1704014584431" class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/HouseBoats/houseboat_%20(51).jpeg?updatedAt=1704014584431" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/HouseBoats/houseboat_%20(52).jpeg?updatedAt=1704014584682" class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/HouseBoats/houseboat_%20(52).jpeg?updatedAt=1704014584682" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="grid_3 grid_5">
            <div class="col-md-6">
                <nav>
                    <ul class="pagination">
                        <li><a href="~/Home/Galleries6" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                        <li><a href="~/Home/Galleries">1</a></li>
                        <li><a href="~/Home/Galleries2">2</a></li>
                        <li><a href="~/Home/Galleries3">3</a></li>
                        <li><a href="~/Home/Galleries4">4</a></li>
                        <li><a href="~/Home/Galleries5">5</a></li>
                        <li><a href="~/Home/Galleries6">6</a></li>
                        <li><a href="~/Home/Galleries7">7</a></li>
                        <li class="active"><a href="~/Home/Galleries8">8</a></li>
                        <li><a href="~/Home/Galleries9" aria-label="Next"><span aria-hidden="true">»</span></a></li>

                    </ul>
                </nav>
            </div>
        </div>
        <link rel="stylesheet" href="~/webb/css/swipebox.css">
        <script src="~/webb/js/jquery.swipebox.min.js"></script>
        <script type="text/javascript">
            jQuery(function ($) {
                $(".swipebox").swipebox();
            });
        </script>
    </div>
    </div>


