﻿@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<div class="banner1">
    <div class="container">
        <section class="slider">
            <div class="flexslider">
                <ul class="slides">
                    <li>
                        <div class="banner1-info">
                            <h3>Chitadama tours </h3>
                            <p>
                                Guests are welcome to share their photos with us
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="banner1-info">
                            <h3>Chitadama tours </h3>
                            <p>
                                Where dreams become a reality !
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="banner1-info">
                            <h3>Chitadama tours </h3>
                            <p>
                                ****An African holiday which leaves you with unforgettable memories for the whole family****
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
        <!--FlexSlider-->
        <link rel="stylesheet" href="~/webb/css/flexslider.css" type="text/css" media="screen" />
        <script defer src="~/webb/js/jquery.flexslider.js"></script>
        <script type="text/javascript">
            $(window).load(function () {
                $('.flexslider').flexslider({
                    animation: "slide",
                    start: function (slider) {
                        $('body').removeClass('loading');
                    }
                });
            });
        </script>
        <!--End-slider-script-->
    </div>
</div>
<div class="gallery">
    <div class="container">
        <h3>
            Gallery 7

        </h3>
        <p>
            Guests are welcome to share their photos with us
        </p>
        <div class="top-gallery">
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/mongwe__1_.JPG?ik-sdk-version=javascript-1.4.3&updatedAt=1676915759743" class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/mongwe__1_.JPG?ik-sdk-version=javascript-1.4.3&updatedAt=1676915759743" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/mongwe__2_.JPG?ik-sdk-version=javascript-1.4.3&updatedAt=1676915778140" class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/mongwe__2_.JPG?ik-sdk-version=javascript-1.4.3&updatedAt=1676915778140" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/mongwe__3_.JPG?ik-sdk-version=javascript-1.4.3&updatedAt=1676915777337" class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/mongwe__3_.JPG?ik-sdk-version=javascript-1.4.3&updatedAt=1676915777337" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/mongwe__4_.JPG?ik-sdk-version=javascript-1.4.3&updatedAt=1676915785635" class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/mongwe__4_.JPG?ik-sdk-version=javascript-1.4.3&updatedAt=1676915785635" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="top-gallery">
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/mongwe__5_.JPG?ik-sdk-version=javascript-1.4.3&updatedAt=1676915782585" class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/mongwe__5_.JPG?ik-sdk-version=javascript-1.4.3&updatedAt=1676915782585" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/mongwe__6_.JPG?ik-sdk-version=javascript-1.4.3&updatedAt=1676915781827" class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/mongwe__6_.JPG?ik-sdk-version=javascript-1.4.3&updatedAt=1676915781827" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/mongwe__7_.JPG?ik-sdk-version=javascript-1.4.3&updatedAt=1676915781932" class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/mongwe__7_.JPG?ik-sdk-version=javascript-1.4.3&updatedAt=1676915781932" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/mongwe__8_.JPG?ik-sdk-version=javascript-1.4.3&updatedAt=1676915784708" class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/mongwe__8_.JPG?ik-sdk-version=javascript-1.4.3&updatedAt=1676915784708" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="top-gallery">
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/mongwe__9_.JPG?ik-sdk-version=javascript-1.4.3&updatedAt=1676915783424"  class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/mongwe__9_.JPG?ik-sdk-version=javascript-1.4.3&updatedAt=1676915783424"  class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/mongwe__10_.JPG?ik-sdk-version=javascript-1.4.3&updatedAt=1676915783528"  class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/mongwe__10_.JPG?ik-sdk-version=javascript-1.4.3&updatedAt=1676915783528"  class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/mongwe__11_.JPG?ik-sdk-version=javascript-1.4.3&updatedAt=1676915783678"  class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/mongwe__11_.JPG?ik-sdk-version=javascript-1.4.3&updatedAt=1676915783678"  class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/mongwe__12_.JPG?ik-sdk-version=javascript-1.4.3&updatedAt=1676915793560"  class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/mongwe__12_.JPG?ik-sdk-version=javascript-1.4.3&updatedAt=1676915793560"  class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="top-gallery">
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/mongwe__13_.JPG?ik-sdk-version=javascript-1.4.3&updatedAt=1676915793928"  class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/mongwe__13_.JPG?ik-sdk-version=javascript-1.4.3&updatedAt=1676915793928"  class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/mongwe__14_.JPG?ik-sdk-version=javascript-1.4.3&updatedAt=1676915797860"  class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/mongwe__14_.JPG?ik-sdk-version=javascript-1.4.3&updatedAt=1676915797860"  class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/mongwe__15_.JPG?ik-sdk-version=javascript-1.4.3&updatedAt=1676915797690"  class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/mongwe__15_.JPG?ik-sdk-version=javascript-1.4.3&updatedAt=1676915797690"  class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/mongwe__16_.JPG?ik-sdk-version=javascript-1.4.3&updatedAt=1676915798357"  class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/mongwe__16_.JPG?ik-sdk-version=javascript-1.4.3&updatedAt=1676915798357"  class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="top-gallery">
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/mongwe__17_.JPG?ik-sdk-version=javascript-1.4.3&updatedAt=1676915797795"  class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/mongwe__17_.JPG?ik-sdk-version=javascript-1.4.3&updatedAt=1676915797795"  class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
        
            <div class="clearfix"> </div>
        </div>
        <div class="grid_3 grid_5">
                <div class="col-md-6">
                    <nav>
                        <ul class="pagination">
                            <li><a href="~/Home/Galleries6" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                            <li><a href="~/Home/Galleries">1</a></li>
                            <li><a href="~/Home/Galleries2">2</a></li>
                            <li><a href="~/Home/Galleries3">3</a></li>
                            <li><a href="~/Home/Galleries4">4</a></li>
                            <li><a href="~/Home/Galleries5">5</a></li>
                            <li><a href="~/Home/Galleries6">6</a></li>
                            <li class="active"><a href="~/Home/Galleries7">7</a></li>
                            <li><a href="~/Home/Galleries8">8</a></li>
                            <li><a href="~/Home/Galleries9">9</a></li>
                            <li><a href="~/Home/Galleries8" aria-label="Next"><span aria-hidden="true">»</span></a></li>

                        </ul>
                    </nav>
                </div>
            </div>
            <link rel="stylesheet" href="~/webb/css/swipebox.css">
            <script src="~/webb/js/jquery.swipebox.min.js"></script>
            <script type="text/javascript">
                jQuery(function ($) {
                    $(".swipebox").swipebox();
                });
            </script>
        </div>
    </div>


