﻿@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<div class="banner1">
    <div class="container">
        <section class="slider">
            <div class="flexslider">
                <ul class="slides">
                    <li>
                        <div class="banner1-info">
                            <h3>Chitadama tours </h3>
                            <p>
                                Guests are welcome to share their photos with us
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="banner1-info">
                            <h3>Chitadama tours </h3>
                            <p>
                                Where dreams become a reality !
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="banner1-info">
                            <h3>Chitadama tours </h3>
                            <p>
                                ****An African holiday which leaves you with unforgettable memories for the whole family****
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
        <!--FlexSlider-->
        <link rel="stylesheet" href="~/webb/css/flexslider.css" type="text/css" media="screen" />
        <script defer src="~/webb/js/jquery.flexslider.js"></script>
        <script type="text/javascript">
            $(window).load(function () {
                $('.flexslider').flexslider({
                    animation: "slide",
                    start: function (slider) {
                        $('body').removeClass('loading');
                    }
                });
            });
        </script>
        <!--End-slider-script-->
    </div>
</div>
<div class="main-services">


    <div class="container">
        <h3>Luxurious Lodges/Safari Lodges </h3>
        <hr />
        <h3>Kia Ora Lodge </h3>
        <hr />
        <p>
            This beautiful and newly constructed 4 Star, Ethiopian themed Guest lodge was built in early 2012. Located in the tranquil environment of Harare Highlands suburb, just 15 minutes from the airport and 5 minutes from the Newlands and Chisipite shopping centres, boasts of 10 luxury rooms and 1 executive room all overlooking well-manicured gardens.
            With the Ethiopian heritage expressed beautifully through the artwork that decorates the walls of the lodge, experience the typically welcoming and warm Ethiopian Charm.
            Kia Ora, which means 'Be Well', promises to be the 'HOME AWAY FROM HOME' our spectacular Zimbabwean sunrise heralds our superb breakfast and our well trained and friendly staff are here to ensure that your stay is worth remembering.
            Kia Ora combines luxury with convenience and allows each guest to imbibe the warmth and hospitality of Zimbabwe with the charm and beauty of Ethiopia. Our spectacular Zimbabwean sunrise heralds our superb breakfast and our well trained and friendly staffs are here to ensure that your stay is worth remembering.
        </p>
        <hr />
        <h3>Mana Pools Lodges and Camping</h3>
        <hr />
        <p>
            There are five Loges that are located in Mana Pools National Park which is one of Zimbabwe's 'Big Five Camps' with its beauty and large variety of wildlife, definitely well worth a visit. Musangu and Muchichiri are the two large lodges found on the banks of the Zambezi River. They are fully equipped for self-catering, and have a braai facility outside, where you can game view and watch the sunset over the Zambezi River. In addition to these two lodges there are three more four bedded lodges which are also self-catering. Mana Pools National Park offer a number of activities including canoeing, guided walks, lion tracking, fishing and game drives. The National Park is very remote and the nearest town is Makuti which is 100kms away so it is recommended that visitors ensure they have enough provisions for the duration of their stay.
        </p>
        <hr />
        <h3>Matobo National Park Lodges and Camping</h3>
        <hr />
        <p>
            Matobo National Park is situated 40 Kilometres outside Bulawayo, the second largest town in Zimbabwe. It is located in one of the driest parts of the country and the most common types of landforms in the park are granite hills and kopjes from whence the name Matobo comes; ‘amatobo’ a name given by the Ndebele which means ‘bald-headed hills’. The park covers 44 500 hectares in area and has five dams and 6 campsites where guests can find accommodation facilities.
            These are very modern and well-maintained units, we were very impressed with the standard. The kitchens in each chalet are fully equipped; there is adequate bedding and linens. They even have neat basketball and tennis courts as well as a kiosk for guests to buy convenience provisions.
            Matobo National park does not have a large concentration of wildlife but some common species are rock dassies, leopards, and the main attraction the black and the white rhinoceros. It is one of the few places in Africa where tourists can view and trek these animals in their wild habitat. It is a protected area of the black and white rhino because of their endangered status. Visitors are also keen to see the black eagle which is common in the area among other birds.
            Other than the wildlife Matobo is a park that has several historical monuments these include, World’s view where Rhodes was buried, Mzilikazi the great Ndebele king is also buried in these parts.  There are places of historical importance where notable battles occurred such as Breakfast Mountain, (Ndebele & British Clash of 1896) and the bushman rock paintings dotted across the park, the remnants of the earliest recorded inhabitants in the area.


        </p>
        <hr />
        <h3>Darwendale Recreational Park</h3>
        <hr />
        <p>

            Manyame dam is 76kms outside Harare, located in Darwendale Recreational Park and is very well known for its amount of bass fish that has been caught there over the years. Fishing is the main attraction which sees fisherman coming annually to try and beat the all-time record of an 18.4 pound bass. Other activities include bird watching, walking and yachting.
            The park has two lodges, each with views of the dam, they have two bedrooms, lounge, dining room and kitchen which are fully equipped for self-catering. They have hot and cold water, and braai facilities, as well as electricity.
            There is a campsite with communal ablution block, and water points plus braai points dotted around the camp. This campsite is ideally positioned close to the launching of boats for the fishing enthusiasts. Also available within the same campsite is caravan sites.
            For day trippers and overnighters there are many picnic sites within the park each with its own thatched rondavel and braai site.


        </p>
        <hr />
        <h3>Lake Kariba Lodges and Camping</h3>
        <hr />
        <p>
            In Kariba Recreational Park there are lodges, camping and caravan sites situated close to the lake shore at the mouth of the Nyanyana River. Hippo can be heard at night in close vicinity to the camp. The lodges are completely equipped for self-catering. The camping and caravan sites have two ablution blocks that have showers, toilets, baths and basins, in total there are twenty sites available. Nyanyana camp is only a short distance away from Kariba town, where it is possible to buy most provisions, fuel etc. Other camps are on offer on a seasonal basis, which have very little development and gives you the chance to be within close proximity to the wild animals. Kariba is the perfect place to game view either by boat or by vehicle, and enables you to see game such as elephants, lions, buffalos, hippos and crocodiles. Other activities on offer are boat cruises, guided horse rides and walks.
        </p>
        <hr />
        <h3>Zambezi National Park Lodges and Camping</h3>
        <hr />
        <p>

            Victoria Falls is most visited tourist destination in Zimbabwe, and the National Park provides you with a choice of places to stay whilst enjoying discovering Victoria Falls. Activities included game viewing, fishing, boat cruises on the Zambezi River, and moonlight viewing.
            The lodges are self-contained and found on the banks of the Zambezi River, they are open all year round and are fully equipped for self-catering. Each lodge has two bedrooms, living room, bathroom and kitchen
            For those who love fishing, there are three exclusive fishing camps Kandahar, Siansimba, and Mpala Jena also situated on the banks of the Zambezi River. There is a shower with cold water and toilet, and has braai facilities. Fishing by boat is very good in these areas.
            There are four bush camps also found on the Zambezi River that are underdeveloped, do not have a fenced off area and are perfect for those who want to be out in the wilderness. These camps only have braai facilities and bush toilets. Each camp can take up to twelve people and are positioned on a particularly beautiful part of the Zambezi River.

        </p>

        <div class="grid_3 grid_5">
            <div class="col-md-6">
                <nav>
                    <ul class="pagination">
                        <li><a href="~/home/gallery4" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                        <li><a href="~/Home/gallery">1</a></li>
                        <li><a href="~/Home/gallery2">2</a></li>
                        <li><a href="~/Home/gallery3">3</a></li>
                        <li><a href="~/Home/gallery4">4</a></li>
                        <li class="active"><a href="~/Home/gallery5">5</a></li>
                        <li><a href="~/Home/gallery6">6</a></li>
                        <li><a href="~/Home/gallery5" aria-label="Next"><span aria-hidden="true">»</span></a></li>
                    </ul>
                </nav>
            </div>
        </div>

    </div>
</div>