﻿@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<div class="banner1">
    <div class="container">
        <section class="slider">
            <div class="flexslider">
                <ul class="slides">
                    <li>
                        <div class="banner1-info">
                            <h3>Chitadama tours </h3>
                            <p>
                                Guests are welcome to share their photos with us
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="banner1-info">
                            <h3>Chitadama tours </h3>
                            <p>
                               Where dreams become a reality !
                                </p>
                        </div>
                    </li>
                    <li>
                        <div class="banner1-info">
                            <h3>Chitadama tours </h3>
                            <p>
                                ****An African holiday which leaves you with unforgettable memories for the whole family****
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
        <!--FlexSlider-->
        <link rel="stylesheet" href="~/webb/css/flexslider.css" type="text/css" media="screen" />
        <script defer src="~/webb/js/jquery.flexslider.js"></script>
        <script type="text/javascript">
            $(window).load(function () {
                $('.flexslider').flexslider({
                    animation: "slide",
                    start: function (slider) {
                        $('body').removeClass('loading');
                    }
                });
            });
        </script>
        <!--End-slider-script-->
    </div>
</div>
<div class="gallery">
    <div class="container">
        <h3>
            Gallery 1

        </h3>
        <p>
            Guests are welcome to share their photos with us
        </p>
        <div class="top-gallery">
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest1.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915642963" class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest1.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915642963" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest2.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915644988" class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest2.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915644988" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest3.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915646683" class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest3.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915646683" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest4.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915649776" class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest4.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915649776" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="top-gallery">
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest5.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915649701" class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest5.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915649701" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/Guest6.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915651800" class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/Guest6.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915651800" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest7.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915652852" class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest7.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915652852" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest8.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915652825" class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest8.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915652825" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="top-gallery">
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest9.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915652881" class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest9.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915652881" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest10.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915652678" class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest10.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915652678" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest11.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915653893" class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest11.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915653893" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest12.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915654257" class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest12.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915654257" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="top-gallery">
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest13.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915655486" class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest13.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915655486" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest14.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915654541" class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest14.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915654541" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest15.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915654756" class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest15.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915654756" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest16.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915655454" class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest16.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915655454" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="top-gallery">
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest17.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915655679" class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest17.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915655679" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest18.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915654923" class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest18.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915654923" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest19.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915655977" class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest19.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915655977" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest20.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915655160" class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest20.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915655160" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="top-gallery">
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest21.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915656132" class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest21.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915656132" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest22.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915656333" class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest22.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915656333" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest23.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915656459" class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest23.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915656459" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="top-gallery">
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest25.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915656519" class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest25.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915656519" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest26.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915656756" class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest26.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915656756" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest27.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915656869" style="-webkit-transform: rotate(-90deg);-moz-transform: rotate(-90deg);-ms-transform: rotate(-90deg);-o-transform: rotate(-90deg);transform: rotate(-90deg);" class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest27.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915656869" style="-webkit-transform: rotate(-90deg);-moz-transform: rotate(-90deg);-ms-transform: rotate(-90deg);-o-transform: rotate(-90deg);transform: rotate(-90deg);" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest28.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915657125" style="-webkit-transform: rotate(-90deg);-moz-transform: rotate(-90deg);-ms-transform: rotate(-90deg);-o-transform: rotate(-90deg);transform: rotate(-90deg);" class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest28.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915657125" style="-webkit-transform: rotate(-90deg);-moz-transform: rotate(-90deg);-ms-transform: rotate(-90deg);-o-transform: rotate(-90deg);transform: rotate(-90deg);" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="top-gallery">
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest29.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915657435" class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest29.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915657435" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest30.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915657802" class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest30.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915657802" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest31.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915657728" class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest31.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915657728" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div> <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest32.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915658039" class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest32.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915658039" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="top-gallery">
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest33.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915658187" class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest33.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915658187" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest34.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915658554" class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest34.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915658554" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest35.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915658417" class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest35.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915658417" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest36.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915659111" class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest36.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915659111" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="top-gallery">
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest37.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915659154" class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest37.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915659154" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest38.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915659423" class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest38.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915659423" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest39.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915659941" class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest39.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915659941" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest40.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915660136" class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest40.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915660136" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="top-gallery">
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest41.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915661085" class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest41.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915661085" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest42.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915662060" class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest42.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915662060" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest43.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915663184" class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest43.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915663184" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>

            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest44.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915663807" class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest44.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915663807" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="top-gallery">
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest45.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915666464" class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest45.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915666464" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest46.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915667028" class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest46.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915667028" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest47.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1677011168535"  style="-webkit-transform: rotate(90deg);-moz-transform: rotate(90deg);-ms-transform: rotate(90deg);-o-transform: rotate(90deg);transform: rotate(90deg);" class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest47.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1677011168535"  style="-webkit-transform: rotate(90deg);-moz-transform: rotate(90deg);-ms-transform: rotate(90deg);-o-transform: rotate(90deg);transform: rotate(90deg);" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest48.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915666735" class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest48.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915666735" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="top-gallery">
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest49.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915666104" class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest49.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915666104" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest50.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915667849"  style="-webkit-transform: rotate(90deg);-moz-transform: rotate(90deg);-ms-transform: rotate(90deg);-o-transform: rotate(90deg);transform: rotate(90deg);" class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest50.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915667849"  style="-webkit-transform: rotate(90deg);-moz-transform: rotate(90deg);-ms-transform: rotate(90deg);-o-transform: rotate(90deg);transform: rotate(90deg);" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>

            <div class="clearfix"> </div>
        </div>
        <div class="grid_3 grid_5">
            <div class="col-md-6">
                <nav>
                    <ul class="pagination">
                        <li class="active"><a href="~/Home/Galleries">1</a></li>
                        <li><a href="~/Home/Galleries2">2</a></li>
                        <li><a href="~/Home/Galleries3">3</a></li>
                        <li><a href="~/Home/Galleries4">4</a></li>
                        <li><a href="~/Home/Galleries5">5</a></li>
                        <li><a href="~/Home/Galleries6">6</a></li>
                        <li><a href="~/Home/Galleries7">7</a></li>
                        <li><a href="~/Home/Galleries8">8</a></li>
                        <li><a href="~/Home/Galleries9">9</a></li>
                        <li><a href="~/Home/Galleries2" aria-label="Next"><span aria-hidden="true">»</span></a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <link rel="stylesheet" href="~/webb/css/swipebox.css">
        <script src="~/webb/js/jquery.swipebox.min.js"></script>
        <script type="text/javascript">
            jQuery(function ($) {
                $(".swipebox").swipebox();
            });
        </script>
    </div>
</div>


