﻿@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<div class="banner1">
    <div class="container">
        <section class="slider">
            <div class="flexslider">
                <ul class="slides">
                    <li>
                        <div class="banner1-info">
                            <h3>Chitadama tours </h3>
                            <p>
                                Guests are welcome to share their photos with us
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="banner1-info">
                            <h3>Chitadama tours </h3>
                            <p>
                                Where dreamsbecome a reality !
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="banner1-info">
                            <h3>Chitadama tours </h3>
                            <p>
                                ****An African holiday which leaves you with unforgettable memories for the whole family****
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
        <!--FlexSlider-->
        <link rel="stylesheet" href="~/webb/css/flexslider.css" type="text/css" media="screen" />
        <script defer src="~/webb/js/jquery.flexslider.js"></script>
        <script type="text/javascript">
            $(window).load(function () {
                $('.flexslider').flexslider({
                    animation: "slide",
                    start: function (slider) {
                        $('body').removeClass('loading');
                    }
                });
            });
        </script>
        <!--End-slider-script-->
    </div>
</div>
<div class="gallery">
    <div class="container">
        <h3>
            Gallery 2

        </h3>
        <p>
            Guests are welcome to share their photos with us
        </p>
        <div class="top-gallery">
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest51.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915667918" class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest51.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915667918" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest52.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915667673" class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest52.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915667673" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest53.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915668612" class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest53.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915668612" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest54.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915669045" class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest54.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915669045" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="top-gallery">
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest55.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915669154" style="-webkit-transform: rotate(90deg);-moz-transform: rotate(90deg);-ms-transform: rotate(90deg);-o-transform: rotate(90deg);transform: rotate(90deg);" class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest55.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915669154" style="-webkit-transform: rotate(90deg);-moz-transform: rotate(90deg);-ms-transform: rotate(90deg);-o-transform: rotate(90deg);transform: rotate(90deg);" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest56.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915669915" class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest56.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915669915" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest57.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915670401" class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest57.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915670401" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest58.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915669978" class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest58.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915669978" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="top-gallery">
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest59.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915670353" class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest59.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915670353" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest60.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915670562" class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest60.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915670562" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest61.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915671038" class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest61.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915671038" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest62.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915671230" class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest62.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915671230" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="top-gallery">
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest63.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915671428" class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest63.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915671428" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest64.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915671617" class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest64.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915671617" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest65.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915672411" class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest65.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915672411" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest66.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915672350" class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest66.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915672350" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="top-gallery">
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest67.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915673186" class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest67.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915673186" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest68.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915673436" class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest68.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915673436" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest69.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915740000" style="-webkit-transform: rotate(-90deg);-moz-transform: rotate(-90deg);-ms-transform: rotate(-90deg);-o-transform: rotate(-90deg);transform: rotate(-90deg);" class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest69.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915740000" style="-webkit-transform: rotate(-90deg);-moz-transform: rotate(-90deg);-ms-transform: rotate(-90deg);-o-transform: rotate(-90deg);transform: rotate(-90deg);" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest70.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915739970" class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest70.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915739970" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="top-gallery">
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest71.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915740056" class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest71.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915740056" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest73.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915738822" class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest73.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915738822" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest74.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915738487" class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest74.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915738487" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest75.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915739950" class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest75.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915739950" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="top-gallery">
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest76.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915740697" class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest76.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915740697" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest77.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915740788" class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest77.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915740788" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest79.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915741480" class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest79.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915741480" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest79.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915741480" class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest79.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915741480" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="top-gallery">
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest80.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915741899" class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest80.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915741899" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest82.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915744935" class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest82.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915744935" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest83.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915747086" class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest83.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915747086" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest84.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915747205" class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest84.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915747205" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="top-gallery">
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest85.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915747200" class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest85.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915747200" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest86.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915745135" class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest86.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915745135" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest87.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915744965" class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest87.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915744965" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest88.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915745344" class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest88.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915745344" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="top-gallery">
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest89.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915746063" class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest89.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915746063" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest90.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915745305" class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest90.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915745305" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest91.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915747731" class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest91.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915747731" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest92.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915748817" class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/guest92.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915748817" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="clearfix"> </div>
        </div>

        <div class="top-gallery">
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/155.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915673992" class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/155.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915673992" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/157.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915675158" class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/157.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915675158" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/166.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915676060" class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/166.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915676060" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/178.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915675513" class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/178.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915675513" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="top-gallery">
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/179.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915490181" class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/179.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915490181" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/181.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915490941" class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/181.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915490941" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/184.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915490504" class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/184.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915490504" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/189.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915491019" class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/189.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915491019" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="top-gallery">
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/204.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915491059" class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/204.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915491059" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/207.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915491305" class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/207.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915491305" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/211.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915490679" class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/211.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915490679" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/212.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915490922" class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/212.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915490922" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="top-gallery">
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/224.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915490582" class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/224.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915490582" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/225.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915491190" class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/225.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915491190" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/238.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915492806" class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/238.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915492806" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/241.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915493066" class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/241.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915493066" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="top-gallery">
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/248.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915493346" class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/248.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915493346" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 gallery-grid gallery1">
                <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/383.JPG?ik-sdk-version=javascript-1.4.3&updatedAt=1676915493397" class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/383.JPG?ik-sdk-version=javascript-1.4.3&updatedAt=1676915493397" class="img-responsive" alt="/">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
       
            <div class="clearfix"> </div>
        </div>
        <div class="grid_3 grid_5">
            <div class="col-md-6">
                <nav>
                    <ul class="pagination">
                        <li><a href="~/Home/Galleries" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                        <li><a href="~/Home/Galleries">1</a></li>
                        <li class="active"><a href="~/Home/Galleries2">2</a></li>
                        <li><a href="~/Home/Galleries3">3</a></li>
                        <li><a href="~/Home/Galleries4">4</a></li>
                        <li><a href="~/Home/Galleries5">5</a></li>
                        <li><a href="~/Home/Galleries6">6</a></li>
                        <li><a href="~/Home/Galleries7">7</a></li>
                        <li><a href="~/Home/Galleries8">8</a></li>
                        <li><a href="~/Home/Galleries9">9</a></li>
                        <li><a href="~/Home/Galleries3" aria-label="Next"><span aria-hidden="true">»</span></a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <link rel="stylesheet" href="~/webb/css/swipebox.css">
        <script src="~/webb/js/jquery.swipebox.min.js"></script>
        <script type="text/javascript">
            jQuery(function ($) {
                $(".swipebox").swipebox();
            });
        </script>
    </div>
</div>


