﻿@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<div class="banner1">
    <div class="container">
        <section class="slider">
            <div class="flexslider">
                <ul class="slides">
                    <li>
                        <div class="banner1-info">
                            <h3>Chitadama tours </h3>
                            <p>
                                Guests are welcome to share their photos with us
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="banner1-info">
                            <h3>Chitadama tours </h3>
                            <p>
                                Where dreams become a reality !
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="banner1-info">
                            <h3>Chitadama tours </h3>
                            <p>
                                ****An African holiday which leaves you with unforgettable memories for the whole family****
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
        <!--FlexSlider-->
        <link rel="stylesheet" href="~/webb/css/flexslider.css" type="text/css" media="screen" />
        <script defer src="~/webb/js/jquery.flexslider.js"></script>
        <script type="text/javascript">
            $(window).load(function () {
                $('.flexslider').flexslider({
                    animation: "slide",
                    start: function (slider) {
                        $('body').removeClass('loading');
                    }
                });
            });
        </script>
        <!--End-slider-script-->
    </div>
</div>
<div class="main-services">


    <div class="container">
        <h3>Luxurious Lodges/Safari Lodges </h3>
        <hr />
        <h3>Chengeta and Pamuzinda Safari Lodges</h3>
        <hr />
        <p>
            Chengeta Safari Lodge is a popular leisure destination for day trips or weekend retreats for families and individuals. This family friendly facility is easily accessible (just under 100kilometres from Harare); it is professionally run and delivers unforgettable adventure for its guests. They also offer Team building facilities for schools, groups and corporates. Chengeta has certified and experienced in house Team facilitators to ensure your retreat flows smoothly. Groups can liaise with the Chengeta team to craft exercises and a programme that suits their specific needs and focus areas.
            Groups can opt for 1 day training or multi day retreat. Indoor training facilities are provided and outdoor activities are available. Teams can choose which recreational activities to add to their programme and meals and refreshments are provided in the course of the retreat. Chengeta offers excellent accommodation for teams and it can accommodate up to 40 guests. Their sister Lodges Pamuzinda and Kariba Safari Lodge can also comfortably provide the above mentioned services.

        </p>
        <div class="gallery">
            <div class="container">
                <div class="top-gallery">
                    <div class="col-md-3 gallery-grid gallery1">
                        <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/chpamu1.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915497653" class="swipebox">
                            <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/chpamu1.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915497653" class="img-responsive" alt="/">

                        </a>
                    </div>
                    <div class="col-md-3 gallery-grid gallery1">
                        <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/chpamu2.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915497604" class="swipebox">
                            <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/chpamu2.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915497604" class="img-responsive" alt="/">

                        </a>
                    </div>
                    <div class="col-md-3 gallery-grid gallery1">
                        <a href="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/chpamu3.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915497638" class="swipebox">
                            <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/chpamu3.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915497638g" class="img-responsive" alt="/">

                        </a>
                    </div>
                   <div class="clearfix"> </div>
                </div>

                <link rel="stylesheet" href="~/webb/css/swipebox.css">
                <script src="~/webb/js/jquery.swipebox.min.js"></script>
                <script type="text/javascript">
                        jQuery(function ($) {
                            $(".swipebox").swipebox();
                        });
                </script>
            </div>
        </div>
        <hr />
        <h3> Cerruti Lodges</h3>
        <hr />
        <p>
            Cerruti Guest Lodges are lovely self-catering lodges which are found at Charara, the eastern basin of Lake Kariba. There are 5 lodges in total which have five bedrooms each and can accommodate up to ten people. The lodges are surrounded by a lovely spacious garden.  Each lodge is fully serviced and comprises a dining room, kitchen, lounge bathroom plus three toilets. The living space is an open plan layout; the rooms are cool and well aerated as they come with overhead fans. Each unit comes with a private patio, one carport and a braai area.
            Cerruti is a child-friendly destination as some of the rooms have twin beds to accommodate the little ones and there is an adequate play area for running around, some swings and a trampoline has been set out in the garden as well. The compound is protected by an electric fence which ensures no wild animals roam in. There is a shaded swimming pool which the whole family can enjoy as well.
            One of the lodges is also handicap friendly, (Lodge 4) which comes with a wheelchair friendly shower.
            Guests need only to bring their own food, drinks, fishing equipment and Boats which can be launched below the lodges for your convenience. Kariba offers a variety of leisure activities for its guests but Fishing is a definite first. Lodge management can arrange Boat hire for those who will not be bringing in their own. Guests who do not have own transport can request for transfers from the town, airport or from Charara junction.


        </p>
        <hr />
        <h3>Nyanga National Park Lodges</h3>
        <hr />
        <p>
            In the Eastern Highlands of Zimbabwe, lies Nyanga National Park which is one of the most stunning areas of Zimbabwe, with its mountainous areas, rivers, waterfalls and fresh mountain air.
            There are lodges located at the three dams within the park namely Mare (Mare also has a campsite), Rhodes and Udu dams. They all have good self-catering facilities all self-contained with refrigerator, stove and cooking utensils.
            Another campsite can be found on the Nyangombe river, and this site has plenty of acacia trees to give you shelter.
            Things to do in Nyanga are numerous, swimming in rivers such as Nyangombe, Mutarazi, Pungwe Gorge and, Nyamuziwa. For the mountain climbers Mount Nyangani will be a challenge but well worth it in the end to see spectacular views. Other activities on offer are horse riding along forest trails, fly fishing, golf and swimming

        </p>
        <hr />
        <h3>Jecha Point Fishing Lodge</h3>
        <hr />
        <p>
            The lodge can comfortably accommodate up to 12 guests in thatched chalets all with en-suite bathroom facilities and fans.  Four chalets sleep two guests each and our family chalet sleeps four adults.  Laundry is done on a daily basis.  Fully catered and semi self-catered options are available.
            Jecha Point specializes in offering professional guiding to fly fishing enthusiasts focused on the mighty tiger fish and other exciting species.  We also cater for conventional fisherman.
            We also offer photographic excursions (day trips) to Mana Pools, birding safaris, game walks, game viewing from an elevated platform and photographic boat cruises.
            Our facilities are ideal as a quaint venue for small conferences and weddings and we offer personalised wedding planning and catering.
            Guests visiting Jecha can expect to see wild elephants frequenting the camp on a daily basis, especially when the Acacia and Torchwood trees are in fruit.   The lodge is far enough away from Chirundu to have plenty of other game animals visiting the camp surrounds during the day and at night.  These can all be viewed safely from our elevated platform, which can seat up to 12 guests.

        </p>
        <hr />
        <h3>Bushman Rock</h3>
        <hr />
        <p>
            The Bushman’s rock estate is more than a place for bed and board, it is a sanctuary for rest and relaxation. Situated approximately 40km from Harare this location is a worthwhile getaway which has all the features of an exclusive nature retreat. Guests can look forward to comfortable lodging, some peace & fresh air as well as a range of relaxing activities suitable for young and old.
            The Valley view lodge is set on a well-manicured portion of the estate which is surrounded by a magnificent river front view, the valley beneath and large forest. Accommodation options on offer include double rooms, family suites and twin rooms which may be booked in advance. The lodges are spacious thatched units which come complete with coffee and tea making facilities, mini bar, fireplace, en-suite bathroom and shower, private patio and a fire place.
            There are several activities to choose from during one’s stay. These include, water activities such as canoe fishing, pontoon rides and swimming at the central lodge pool. The Bushman’s rock estate boasts of a modest wildlife population and so guests can enjoy a mini safari as they go on game drives or game walks. Another way to explore the interesting flora and fauna, is to go horse riding.
            There is also the rare opportunity to tour the vineyards and do some wine tasting.


        </p>
        <hr />
        <h3>Spurwing Island </h3>
        <hr />
        <p>
            Spurwing is a very popular holiday destination to both Zimbabweans and tourists. It is situated on the edge of the Matusadona National Park and offers game viewing, fishing and boat trips up the picturesque Sanyati Gorge.
            There are three different accommodation options to choose from, 11 tents enclosed under thatch, 6 cabins and three chalets taking a maximum of forty guests.
            There is a central dining area, bar and swimming pool all with beautiful views of lake Kariba.
            Spurwing is an ideal venue to book for a special occasion and have the whole place to yourself to fill with your own guests. The management offer a very friendly and efficient service.
            To avoid disappointment please remember to book in advance especially during school holidays and over public holidays.

        </p>

        <div class="grid_3 grid_5">
            <div class="col-md-6">
                <nav>
                    <ul class="pagination">
                        <li><a href="~/Home/gallery2" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                        <li><a href="~/Home/gallery">1</a></li>
                        <li><a href="~/Home/gallery2">2</a></li>
                        <li class="active"><a href="~/Home/gallery3">3</a></li>
                        <li><a href="~/Home/gallery4">4</a></li>
                        <li><a href="~/Home/gallery5">5</a></li>
                        <li><a href="~/Home/gallery6">6</a></li>
                        <li><a href="~/Home/gallery3" aria-label="Next"><span aria-hidden="true">»</span></a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>