﻿@{
    ViewBag.Title = "Home Page";
}
@*<script type="text/javascript">
    $(function () {
        return $(".carousel.lazy").on("slide", function (ev) {
            var lazy;
            lazy = $(ev.relatedTarget).find("img[data-src]");
            lazy.attr("src", lazy.data('src'));
            lazy.removeAttr("data-src");
        });
    });
</script>*@
<h3>Welcome to Chitadama tours !</h3>
<hr />
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
        <li data-target="#myCarousel" data-slide-to="4"></li>
        <li data-target="#myCarousel" data-slide-to="5"></li>
        <li data-target="#myCarousel" data-slide-to="6"></li>
        <li data-target="#myCarousel" data-slide-to="7"></li>
        <li data-target="#myCarousel" data-slide-to="8"></li>
        <li data-target="#myCarousel" data-slide-to="9"></li>
  </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">



            <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/slideshow/CSC_0926.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915356476" class="img-responsive" alt="">
        </div>

        <div class="item">
            <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/slideshow/DSC00836.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915362755" class="img-responsive" alt="">
        </div>

        <div class="item">

            <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/slideshow/DSC_0112.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915355092" class="img-responsive" alt="">
        </div>
        <div class="item">

            <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/slideshow/DSC_0115.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915353010" class="img-responsive" alt="">
        </div>
        <div class="item">

            <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/slideshow/DSC_0211.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915355502" class="img-responsive" alt="">
        </div>
        <div class="item">

            <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/slideshow/DSC_0250.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915356807" class="img-responsive" alt="">
        </div>
        <div class="item">

            <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/slideshow/DSC_0174.JPG?ik-sdk-version=javascript-1.4.3&updatedAt=1676915353912" class="img-responsive" alt="">
        </div>
        <div class="item">

            <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/slideshow/DSC_0238.JPG?ik-sdk-version=javascript-1.4.3&updatedAt=1676915356994" class="img-responsive" alt="">
        </div>
        <div class="item">

            <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/slideshow/DSC_0322.JPG?ik-sdk-version=javascript-1.4.3&updatedAt=1676915355137" class="img-responsive" alt="">
        </div>
        <div class="item">

            <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/slideshow/DSC_0545.JPG?ik-sdk-version=javascript-1.4.3&updatedAt=1676915357580" class="img-responsive" alt="">
        </div>
       
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<hr />
<h3>About Zimbabwe</h3>
<hr />
<p class="eveniet">
    When travelling to Zimbabwe, visas are obtained at the airport on arrival. The currency used in Zimbabwe is the US dollar. The climate is generally warm to hot from August to May. June and July are the cooler months. Great fishing, safaris and very relaxing. It is a very peaceful country and the local people are friendly and always willing to help. Please consult your doctor before travelling to Zimbabwe as anti malarials should be taken prior to arrival.
</p>

    </div>
</div>
<div class="gallery">
    <div class="container">
        <div class="top-gallery">
            <div class="col-md-4 gallery-grid gallery1">
                <a href="#" class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/u-g-PQOF200.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915795996" style="height:250px" class="img-responsive" alt="">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="col-md-4 gallery-grid gallery1">
                <a href="#" class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/images.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915751157" style="height:250px" class="img-responsive" alt="">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="col-md-4 gallery-grid gallery1">
                <a href="#" class="swipebox">
                    <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/download.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915498180" style="height:250px" class="img-responsive" alt="">
                    <div class="textbox">
                        <h4>Chitadama Tours</h4>
                        <p>Where dreams become reality</p>
                    </div>
                </a>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>

</div>
<!-- //banner-bottom -->
<!-- traveller -->
<div class="traveller">
    <div class="container">
        <h3>Chitadama Says</h3>
        <p class="velit">
            Visitors can get a taste of many different restaurants offering local and international foods, fast food spots, theatres, cinemas, clubs and private clubs, massage salons, museums, animal parks, amusement parks for the kids, natural balancing rocks, braais and fishing, botanical gardens, Harare city and townships.
        </p>
        <div class="wmuSlider example1">
            <div class="wmuSliderWrapper">
                <article style="position: absolute; width: 100%; opacity: 0;">
                    <div class="banner-wrap">
                        <div class="traveller-info">
                            <div class="traveller-info-left">
                                <h4>Chitadama Tours !</h4>
                                <p>
                                    Chitadama offers you unforgettable and affordable trips all around Zimbabwe.
                                </p>
                            </div>
                            <div class="traveller-info-right">
                                <img class="img-responsive" src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/DSC_0105.JPG?ik-sdk-version=javascript-1.4.3&updatedAt=1676915499403" alt=" " />
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                    </div>
                </article>
                <article style="position: absolute; width: 100%; opacity: 0;">
                    <div class="banner-wrap">
                        <div class="traveller-info">
                            <div class="traveller-info-left">
                                <h4>Chitadama Tours !</h4>
                                <p>
                                    Where dreams become a reality.
                                </p>
                            </div>
                            <div class="traveller-info-right">
                                <img class="img-responsive" src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/small.png?ik-sdk-version=javascript-1.4.3&updatedAt=1676915791024" alt=" " />
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                    </div>
                </article>
                <article style="position: absolute; width: 100%; opacity: 0;">
                    <div class="banner-wrap">
                        <div class="traveller-info">
                            <div class="traveller-info-left">
                                <h4>Chitadama Tours !</h4>
                                <p>
                                    ****An African holiday which leaves you with unforgettable memories for the whole family****
                                </p>
                            </div>
                            <div class="traveller-info-right">
                                <img class="img-responsive" src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/small2.png?ik-sdk-version=javascript-1.4.3&updatedAt=1676915791727" alt=" " />
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
        <script src="~/Scripts/bootstrap.js"></script>
        <script src="~/webb/js/jquery.wmuSlider.js"></script>
        <script>
            $('.example1').wmuSlider();
        </script>
    </div>
</div>