﻿@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<div class="banner1">
    <div class="container">
        <section class="slider">
            <div class="flexslider">
                <ul class="slides">
                    <li>
                        <div class="banner1-info">
                            <h3>Chitadama tours </h3>
                            <p>
                                Guests are welcome to share their photos with us
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="banner1-info">
                            <h3>Chitadama tours </h3>
                            <p>
                                Where dreams become a reality !
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="banner1-info">
                            <h3>Chitadama tours </h3>
                            <p>
                                ****An African holiday which leaves you with unforgettable memories for the whole family****
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
        <!--FlexSlider-->
        <link rel="stylesheet" href="~/webb/css/flexslider.css" type="text/css" media="screen" />
        <script defer src="~/webb/js/jquery.flexslider.js"></script>
        <script type="text/javascript">
            $(window).load(function () {
                $('.flexslider').flexslider({
                    animation: "slide",
                    start: function (slider) {
                        $('body').removeClass('loading');
                    }
                });
            });
        </script>
        <!--End-slider-script-->
    </div>
</div>
<div class="contact" ng-app="ReviewForm">
    <div class="container">
        <div class="contact-grid">
            <div class="contact-left">
                <h3>Guest Reviews</h3>

                <div class="row" style="height:100%; overflow-y: scroll;" ng-controller="myController">

                    <!--Grid column-->
                    <div class="col-lg-12 col-md-12 mb-lg-0 mb-12" ng-repeat="data in dataList">
                        <!--Card-->
                        <div class="card testimonial-card">
                            <!--Background color-->
                            <div class="avatar mx-auto white">
                                <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/icons8-administrator-male-480.png?ik-sdk-version=javascript-1.4.3&updatedAt=1676915749478" height="96" width="96" id="avatar" class="img-responsive">
                            </div>
                            <div class="card-body">
                                <!--Name-->
                                <h4 class="font-weight-bold mb-4" ng-bind="data.name"></h4>
                                <br />

                                <!--Quotation-->
                                <p class="dark-grey-text mt-10" ng-bind="data.message">
                                    <i class="fas fa-quote-left pr-2"></i>
                                </p>
                                <br />
                                <h8 class="font-weight-bold mb-4" ng-bind="data.dateTime"></h8>
                                <br />
                                <h8 class="font-weight-bold mb-4" ng-bind="data.email"></h8> <br />                                 <br />
                            </div>
                        </div>
                        <!--Card-->
                    </div>
                </div>

            </div>
        </div>
        <div id="comm" class="contact-right">
            <h3>Please share your holiday experience fill in all the fields</h3>
            <form name="cf" ng-controller="cfController" ng-submit="submitForm(cf.$valid)" novalidate>
                <div class="form-group">
                    <input id="name" type="text" placeholder="Names...." name="name" ng-model="name" required>
                </div>
                <div class="form-group">
                    <input id="email" type="text" placeholder="Email...." name="email" ng-model="email" required>
                </div>
                <div class="form-group">
                    <textarea id="message" name="message" placeholder="Please enter your holiday experience text here....." rows="4" ng-model="message" required></textarea>
                </div>
                <div class="clearfix"> </div>
                <input type="submit" value="Send" ng-disabled="cf.$invalid" />
            </form>
        </div>
        <div class="clearfix"> </div>
    </div>
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <img height="40%" width="100%" src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/Chitadama_Final.png?ik-sdk-version=javascript-1.4.3&updatedAt=1676915497623" />
                    <button type="button" class="close" data-dismiss="modal">&times;</button>


                    <h4 class="modal-title" style="font-weight:bold;color:black">Chitadama Tours Notification !</h4>
                </div>
                <div class="modal-body" style="color:black">
                    <p>Thank you for submitting your review.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

</div>
</div>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="~/webb/js/index2.js"></script>
<!-- //contact -->
<!--footer-->