﻿@{
    ViewBag.Title = "About";

    Layout = "~/Views/Shared/_Layout2.cshtml";



}

<div class="banner1">
    <div class="container">
        <section class="slider">
            <div class="flexslider">
                <ul class="slides">
                    <li>
                        <div class="banner1-info">
                            <h3>Chitadama tours </h3>
                            <p>
                                Guests are welcome to share their photos with us
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="banner1-info">
                            <h3>Chitadama tours </h3>
                            <p>
                                Where dreams become a reality !
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="banner1-info">
                            <h3>Chitadama tours </h3>
                            <p>
                                ****An African holiday which leaves you with unforgettable memories for the whole family****
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
        <!--FlexSlider-->
        <link rel="stylesheet" href="~/webb/css/flexslider.css" type="text/css" media="screen" />
        <script defer src="~/webb/js/jquery.flexslider.js"></script>
        <script type="text/javascript">
            $(window).load(function () {
                $('.flexslider').flexslider({
                    animation: "slide",
                    start: function (slider) {
                        $('body').removeClass('loading');
                    }
                });
            });
        </script>
        <!--End-slider-script-->
    </div>
</div>
<div class="main-services">
    <div class="container">
        <h3>Safari destinations around Zimbabwe </h3>
    </div>
</div>
<div class="services-overview">
    <div class="container">

        <div class="services-overview-grids">
            <div class="col-md-4 services-overview-grid">
                <div class="services-overview-grd">

                    <div class="services-overview-gd">
                        <a href="#" class="pop" title="">
                            <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/victoriafalls1.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915797173" alt=" " class="img-responsive" />
                        </a>
                        <h4 id="specialheader">Victoria Falls</h4>
                        <p>
                            It is definitely a must to visit the great Victoria Falls (Mosi ao Tunya/the smoke that thunders) which is one of “the seven wonders of the world”. If you are an adrenaline junkie you should try out some of the activities at the Falls such as bungee jumping (111 metres high), white water rafting (the wildest in the world), a swim in devils pool at the top of the falls, kayaking, gorge swings, zip lines, helicopter flights above the falls and more.
                        </p> <hr id="hrT" />
                        <a href="#" class="pop" title="">
                            <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/victoriafalls2.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915797791" alt=" " class="img-responsive" />
                        </a> <hr id="hrT" />
                        <a href="#" class="pop" title="">
                            <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/victoriafalls3.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915798380" alt=" " class="img-responsive" />
                        </a> <hr id="hrT" />
                        <a href="#" class="pop" title="">
                            <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/victoriafalls4.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915799005" alt=" " class="img-responsive" />
                        </a> <hr id="hrT" />
                        <a href="#" class="pop" title="">
                            <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/victoriafalls5.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915798719" alt=" " class="img-responsive" />
                        </a> <hr id="hrT" />
                        <a href="#" class="pop" title="">
                            <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/victoriafalls6.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915799403" alt=" " class="img-responsive" />
                        </a> <hr id="hrT" />
                        <a href="#" class="pop" title="">
                            <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/victoriafalls7.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915799597" alt=" " class="img-responsive" />
                        </a> <hr id="hrT" />
                        <a href="#" class="pop" title="">
                            <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/victoriafalls8.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915800050" alt=" " class="img-responsive" />
                        </a> <hr id="hrT" />
                        <a href="#" class="pop" title="">
                            <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/victoriafalls9.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915799628" alt=" " class="img-responsive" />
                        </a> <hr id="hrT" />
                        <a href="#" class="pop" title="">
                            <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/victoriafalls10.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915799699" alt=" " class="img-responsive" />
                        </a> <hr id="hrT" />
                        <a href="#" class="pop" title="">
                            <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/victoriafalls11.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915800676" alt=" " class="img-responsive" />
                        </a> <hr id="hrT" />
                        <a href="#" class="pop" title="">
                            <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/victoriafalls12.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915800108" alt=" " class="img-responsive" />
                        </a> <hr id="hrT" />
                        <a href="#" class="pop" title="">
                            <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/victoriafalls13.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915800214" alt=" " class="img-responsive" />
                        </a> <hr id="hrT" />

                    </div>

                </div>

            </div>
            <div class="col-md-4 services-overview-grid">
                <div class="services-overview-grd">

                    <div class="services-overview-gd">
                        <a href="#" class="pop" title="">
                            <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/kariba1.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915752126" alt=" " class="img-responsive" />
                        </a>
                        <h4 id="specialheader">Lake Kariba</h4>
                        <p>
                            It’s the world’s largest man-made lake (by volume) and its dam wall is an Italian-designed feat of engineering. While that’s very impressive and all, you’ll visit this area for its extraordinary natural beauty and prolific wildlife. The mountain-edged area around the lake is home to the Big Five (Elephant, Rhino, Buffalo, Lion, Leopard) as well as numerous other bird and animal species. I recommend you rent a houseboat and enjoy home-comforts whilst travelling to different parts of the lake. Alternatively, stay at a safari lodge or self-catering accommodation on one of the peninsulas or islands of Kariba. Wherever you go along the lake, one thing is guaranteed: your view will be accented by petrified trees jutting into the skyline and elephants wallowing in sunset-hued waters.
                        </p>
                        <a href="#" class="pop" title="">
                            <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/kariba2.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915752451" alt=" " class="img-responsive" />
                        </a>
                        <hr id="hrT" />
                        <a href="#" class="pop" title="">
                            <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/kariba3.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915754135" alt=" " class="img-responsive" />
                        </a>    <hr id="hrT" />
                        <a href="#" class="pop" title="">
                            <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/kariba4.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915753990" alt=" " class="img-responsive" />
                        </a>    <hr id="hrT" />
                        <a href="#" class="pop" title="">
                            <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/kariba5.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915756730" alt=" " class="img-responsive" />
                        </a>    <hr id="hrT" />
                        <a href="#" class="pop" title="">
                            <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/kariba6.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915754155" alt=" " class="img-responsive" />
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 services-overview-grid">
                <div class="services-overview-grd">
                    <div class="services-overview-gd">
                        <a href="#" class="pop" title="">
                            <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/mana1.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915755924" alt=" " class="img-responsive" />
                        </a>
                        <h4 id="specialheader">Mana pools National Park</h4>
                        <p>
                            Located along the forested floodplains of the Zambezi River in north-eastern Zimbabwe, this UNESCO World Heritage Site is one of Africa’s last unspoilt wildernesses. Perhaps not as easily accessible for tourists as Hwange National Park, there are many pros for visiting Mana Pools: prolific wildlife, scenic vistas of the Zambezi River, undergrowth-free forests, and fewer tourists. Many seasoned safari experts regard Mana Pools as the epitome of authentic game viewing in Africa, as well as one of the top locations for walking safaris and canoe safaris. You can self-drive, or stay in a guide-led lodge, both of which allow for numerous opportunities to live at close quarters with elephant, hyena, lion and hippo.
                        </p>
                        <a href="#" class="pop" title="">
                            <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/mana2.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915756477" alt=" " class="img-responsive" />
                        </a>  <hr id="hrT" />
                        <a href="#" class="pop" title="">
                            <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/mana3.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915757285" alt=" " class="img-responsive" />
                        </a>

                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="services-overview">
        <div class="container">
            <div class="col-md-4 services-overview-grid">
                <div class="services-overview-grd">

                    <div class="services-overview-gd">
                        <a href="#" class="pop" title="">
                            <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/hwange1.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915748866" alt=" " class="img-responsive" />
                        </a>
                        <h4 id="specialheader">Hwange National Park</h4>
                        <p>
                            Roughly the same size as the Serengeti National Park or the state of Connecticut, Hwange is home to one of the largest elephant populations on earth. This may sound trite, but when you see a 200-strong family of elephants just footsteps before you, without any fences, bullhooks or ‘handlers’ in sight, the term ‘wild’ will take on a whole new meaning. Not only that, but there are lion (it was home to the now-famous Cecil), giraffe, cheetah, African wild dogs, and over 400 species of birds, all of which make this a wildlife-viewing paradise. Due to Hwange’s easy access from Victoria Falls and Bulawayo, and a wide range of accommodation options, this is the perfect place both for first-time safari-goers as well as seasoned bush lovers.
                        </p>
                        <a href="#" class="pop" title="">
                            <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/hwange2.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915749002" alt=" " class="img-responsive" />
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 services-overview-grid">
                <div class="services-overview-grd">
               
                    <div class="services-overview-gd">
                        <a href="#" class="pop" title="">
                            <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/slideshow/DSC_0963.JPG?ik-sdk-version=javascript-1.4.3&updatedAt=1676915360073" alt=" " class="img-responsive" />
                        </a>
                        <h4 id="specialheader">Matobo National Park (Matopos)</h4>
                        <p>
                            In this unique landscape of balancing rock formations and granite hills, rhinos can be found meandering through the vegetation, whilst eagles soar overhead. The caves here have been inhabited by man for thousands of years, leaving a legacy of rock paintings and legends for future generations. The spiritual atmosphere of Matobo National Park is felt by even the most world-weary of visitors, and you shouldn’t overlook it in your visit to Zimbabwe. The nearby city of Bulawayo is also a historical icon.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 services-overview-grid">
                <div class="services-overview-grd">
                    <a href="#" class="pop" title="">
                        <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/great1.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915641524" alt=" " class="img-responsive" />
                    </a>
                    <div class="services-overview-gd">
                        <h4 id="specialheader">Great Zimbabwe Ruins and Monument: </h4>
                        <p>
                            For centuries, the structures at Great Zimbabwe have captured the imagination of locals and explorers alike. They’re the largest, and second-oldest of their kind in sub-Saharan Africa. The local name for the site was “Dzimba dza mabwe” (roughly “Houses of Stone”) or simply “Zimbabwe”. These ruins are so important that when Rhodesia became independent in 1980, the nation itself was named after them. In addition, the soapstone bird carvings found at the Great Zimbabwe site have become the nation’s emblem, and are a central feature on the country’s flag. This, along with the size and scope of the ruins, makes the Monument a fascinating and insightful place to visit.
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="services-overview">
        <div class="container">
            <div class="col-md-4 services-overview-grid">
                <div class="services-overview-grd">

                    <div class="services-overview-gd">
                        <a href="#" class="pop" title="">
                            <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/gona1.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915634425" alt=" " class="img-responsive" />
                        </a>
                        <h4 id="specialheader">Gonarezhou National Park</h4>
                        <p>
                            This National Park is famed for its dramatic red sandstone cliffs, jutting into the sky as if they were sealing the edge of the known world. The elephants here have a reputation for being larger and less tolerant of humans than elsewhere in the country, due to a historical conflict between hunters, local communities and authorities. More recently, innovative projects have gone a long way in improving relationships with the local people and easing human-wildlife conflict. There are two luxury lodges in this area, both of which are highly attuned to sustainable community development and conservation. In addition, there are self-catering lodges and ‘undeveloped’ campsites for anyone wanting to truly go back to basics. Game-viewing is less prolific and temperatures can be high, but this only adds to the feeling of being in a lost world, isolated from modern distractions. The rewards are many: you’ll have the chance to see rhino, wild dog, long-tusked elephant and rare king cheetah, without another human being for miles.
                        </p>
                        <a href="#" class="pop" title="">
                            <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/gona2.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915637034" alt=" " class="img-responsive" />
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 services-overview-grid">
                <div class="services-overview-grd">

                    <div class="services-overview-gd">
                        <a href="#" class="pop" title="">
                            <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/vumba1.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915800705" alt=" " class="img-responsive" />
                        </a>
                        <h4 id="specialheader">Vumba Mountains (Bvumba): </h4>
                        <p>
                            This lush, mountainous forest is a complete contrast to the savannah ecosystems seen elsewhere in Zimbabwe, confronting many people’s preconceptions about ‘typical’ African scenery. Vumba is a small but photogenic reserve, offering exciting walking trails and mist-hued views into the neighbouring country of Mozambique. It’s one of the few places in Zimbabwe where you can see forest-dwelling samango monkeys (as opposed to widespread vervet monkeys) and rare bird species such as the jackal buzzard − all in a fairytale-like, Lord of the Rings-style location. There are a number of picturesque lodges and hotels in the area, as well as coffee plantations, an infamous coffee shop, a golf course and enchanting botanical gardens.
                        </p>
                        <a href="#" class="pop" title="">
                            <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/vumba2.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915800777g" alt=" " class="img-responsive" />
                        </a> <hr id="hrT" />
                   
                    </div>
                </div>
            </div>
            <div class="col-md-4 services-overview-grid">
                <div class="services-overview-grd">

                    <div class="services-overview-gd">
                        <a href="#" class="pop" title="">
                            <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/nyanga1.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915786525" alt=" " class="img-responsive" />
                        </a>
                        <h4 id="specialheader">Nyanga National Park </h4>
                        <p>
                            If you were teleported to Nyanga, you’d be forgiven for assuming that you were in the highlands of Scotland. Swelling hills, pleasantly gurgling rivers, mountain waterfalls, and green valley’s greet visitors: all this barely three hours from Harare. Nyanga is not the place to see the Big Five (although there are smaller species); it’s the place for snuggling next to a fire in a cosy cottage, walking along fern-lined mountain paths, and going wild swimming in sparkling waterfalls. Your friends will never believe that your photos were taken in Africa.
                        </p>
                        <a href="#" class="pop" title="">
                            <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/nyanga2.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915787069" alt=" " class="img-responsive" />
                        </a>

                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="services-overview">
        <div class="container">
            <div class="col-md-4 services-overview-grid">
                <div class="services-overview-grd">

                    <div class="services-overview-gd">
                        <a href="#" class="pop" title="">
                            <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/chinhoyi1.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915496199" alt=" " class="img-responsive" />
                        </a>
                        <h4 id="specialheader">Chinhoyi Caves</h4>
                        <p>
                            The traditional name for the the Chinhoyi Caves is “Chirorodziva” which means the “Pool of the Fallen.” The caves are made up of a series of tunnels which take you on a descent down to the main cave which is stunning with its aqua marine coloured water. This pool is known as the Sleeping Pool and has become very popular amongst divers, who have gone as deep as 50m and the visibility is still unbelievably good. On the property there are campsites and caravan sites which enables you to spend the night or have a picnic whilst exploring the caves. The Caves are located about 9 kilometres north-west of the town of Chinhoyi, 120 kilometres from the capital city of Harare.
                        </p>
                        <a href="#" class="pop" title="">
                            <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/chinhoyi2.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915496232" alt=" " class="img-responsive" />
                        </a> <hr id="hrT" />
                        <a href="#" class="pop" title="">
                            <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/chinhoyi3.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915496257" alt=" " class="img-responsive" />
                        </a> <hr id="hrT" />
                        <a href="#" class="pop" title="">
                            <img src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/chinhoyi4.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676915496144" alt=" " class="img-responsive" />
                        </a>
                    </div>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <script type="text/javascript">
        $(function () {
            $('.pop').on('click', function () {
                $('.imagepreview').attr('src', $(this).find('img').attr('src'));
                $('#imagemodal').modal('show');
            });
        });
    </script>

    <div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <img src="" class="imagepreview" style="width: 100%;">
                </div>
            </div>
        </div>
    </div>
</div>


