﻿@{
    ViewBag.Title = "Videos";

    Layout = "~/Views/Shared/_Layout2.cshtml";



}

<script data-require="angular.js@1.5.x" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.11/angular.min.js" data-semver="1.5.11"></script>
<script src="~/webb/js/index3.js"></script>
<div class="banner1">
    <div class="container">
        <section class="slider">
            <div class="flexslider">
                <ul class="slides">
                    <li>
                        <div class="banner1-info">
                            <h3>Chitadama tours </h3>
                            <p>
                                Guests are welcome to share their photos with us
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="banner1-info">
                            <h3>Chitadama tours </h3>
                            <p>
                                Where dreams become a reality !
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="banner1-info">
                            <h3>Chitadama tours </h3>
                            <p>
                                ****An African holiday which leaves you with unforgettable memories for the whole family****
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
        <!--FlexSlider-->
        <link rel="stylesheet" href="~/webb/css/flexslider.css" type="text/css" media="screen" />
        <script defer src="~/webb/js/jquery.flexslider.js"></script>
        <script type="text/javascript">
            $(window).load(function () {
                $('.flexslider').flexslider({
                    animation: "slide",
                    start: function (slider) {
                        $('body').removeClass('loading');
                    }
                });
            });
        </script>
        <!--End-slider-script-->
    </div>
</div>
<div class="main-services" ng-app="VideoShow">
    <div class="container" ng-controller="myController">
        <h3>Watch List</h3>
        <div class="col-md-2">

            <ul style="list-style:none;font-size:8pt;color:white">
                <li>
                    <a ng-click="changeVideo9()">
                        <img width="16" height="16" src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/iconfinder_youtube_317714__1_.png?ik-sdk-version=javascript-1.4.3&updatedAt=1676915749066" />Mawaiya the famous Lion
                    </a>
                </li>
                <li>
                    <a ng-click="changeVideo()"><img width="16" height="16" src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/iconfinder_youtube_317714__1_.png?ik-sdk-version=javascript-1.4.3&updatedAt=1676915749066" />Cape Buffalo Herd, Kariba, 2019</a>
                </li>
                <li>
                    <a ng-click="changeVideo2()"><img width="16" height="16" src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/iconfinder_youtube_317714__1_.png?ik-sdk-version=javascript-1.4.3&updatedAt=1676915749066" />Braai on the Zambezi River</a>
                </li>
                <li>

                    <a ng-click="changeVideo3()"><img width="16" height="16" src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/iconfinder_youtube_317714__1_.png?ik-sdk-version=javascript-1.4.3&updatedAt=1676915749066" />Cerval Cat</a>
                </li>
                <li>
                    <a ng-click="changeVideo4()">
                        <img width="16" height="16" src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/iconfinder_youtube_317714__1_.png?ik-sdk-version=javascript-1.4.3&updatedAt=1676915749066" />Sunset view on the Zambezi River
                </li>

                <li>
                    <a ng-click="changeVideo5()"><img width="16" height="16" src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/iconfinder_youtube_317714__1_.png?ik-sdk-version=javascript-1.4.3&updatedAt=1676915749066" />Bally Vaughn Lions</a>
                </li>
                <li>
                    <a ng-click="changeVideo6()"><img width="16" height="16" src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/iconfinder_youtube_317714__1_.png?ik-sdk-version=javascript-1.4.3&updatedAt=1676915749066" />Mana Pools</a>
                </li>
                <li>
                    <a ng-click="changeVideo7()"><img width="16" height="16" src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/iconfinder_youtube_317714__1_.png?ik-sdk-version=javascript-1.4.3&updatedAt=1676915749066" />The mighty Zambezi River</a>
                </li>
                <li>
                    <a ng-click="changeVideo8()"><img width="16" height="16" src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/iconfinder_youtube_317714__1_.png?ik-sdk-version=javascript-1.4.3&updatedAt=1676915749066" />Elephants at Mana Pools</a>
                </li>
                <li>
                    <a ng-click="changeVideo10()"><img width="16" height="16" src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/iconfinder_youtube_317714__1_.png?ik-sdk-version=javascript-1.4.3&updatedAt=1676915749066" />Elephants crossing the Zambezi River</a>
                </li>

            </ul>

        </div>
        <div class="col-md-2">

            <ul style="list-style:none;font-size:8pt;color:white">
                <li>
                    <a ng-click="changeVideo11()"><img width="16" height="16" src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/iconfinder_youtube_317714__1_.png?ik-sdk-version=javascript-1.4.3&updatedAt=1676915749066" />Mana Pools Elephants</a>
                </li>
                <li>
                    <a ng-click="changeVideo12()"><img width="16" height="16" src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/iconfinder_youtube_317714__1_.png?ik-sdk-version=javascript-1.4.3&updatedAt=1676915749066" />Charara Elephants</a>
                </li>
                <li>
                    <a ng-click="changeVideo13()"><img width="16" height="16" src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/iconfinder_youtube_317714__1_.png?ik-sdk-version=javascript-1.4.3&updatedAt=1676915749066" />Rhinos at lake chivero</a>
                </li>
                <li>
                    <a ng-click="changeVideo14()"><img width="16" height="16" src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/iconfinder_youtube_317714__1_.png?ik-sdk-version=javascript-1.4.3&updatedAt=1676915749066" />Rhinos</a>
                </li>
                <li>
                    <a ng-click="changeVideo15()"><img width="16" height="16" src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/iconfinder_youtube_317714__1_.png?ik-sdk-version=javascript-1.4.3&updatedAt=1676915749066" />Elephants from Mana Pools</a>
                </li>
                <li>
                    <a ng-click="changeVideo16()"><img width="16" height="16" src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/iconfinder_youtube_317714__1_.png?ik-sdk-version=javascript-1.4.3&updatedAt=1676915749066" />Elephant at your door step at Mana Pools</a>
                </li>
                <li>
                    <a ng-click="changeVideo17()">
                        <img width="16" height="16" src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/iconfinder_youtube_317714__1_.png?ik-sdk-version=javascript-1.4.3&updatedAt=1676915749066" />Lake chivero
                    </a>
                </li>
                <li>
                    <a ng-click="changeVideo18()">
                        <img width="16" height="16" src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/iconfinder_youtube_317714__1_.png?ik-sdk-version=javascript-1.4.3&updatedAt=1676915749066" />Rhinos
                    </a>
                </li>
                <li>
                    <a ng-click="changeVideo19()">
                        <img width="16" height="16" src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/iconfinder_youtube_317714__1_.png?ik-sdk-version=javascript-1.4.3&updatedAt=1676915749066" />Fish Eagle
                    </a>
                </li>
            </ul>

        </div>

        <div class="col-md-8">

            @*<iframe  style="color:white" width="560" height="315" ng-src="{{videoSource}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>*@
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item"  id="video" ng-src="{{videoSource}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>


    </div>
</div>

