﻿<!DOCTYPE html>
<html>
<head>
    <title>Chitadama Tours</title>
    <!-- for-mobile-apps -->
    <meta name="msvalidate.01" content="44AE703BDA04C39686082ABDA03BD200" />

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="keywords" content="Cruisin Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
		
    @*<script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
               function hideURLbar(){ window.scrollTo(0,1); } </script>*@
    <!-- //for-mobile-apps -->
    <link href="~/webb/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/webb/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- js -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <!-- //js -->
    <link rel="icon" href="~/chitadama_final_E0r_icon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="~/chitadama_final_E0r_icon.ico" type="image/x-icon" />
    <link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <meta name="google" content="notranslate">
    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({ pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.HORIZONTAL }, 'google_translate_element');
        }
    </script>

    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
.fa {
  padding: 20px;
  font-size:80px;
  width: 30px;
  text-align: center !important;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white ! important;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white ! important;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-pinterest {
  background: #cb2027;
  color: white;
}

.fa-snapchat-ghost {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.fa-skype {
  background: #00aff0;
  color: white;
}

.fa-android {
  background: #a4c639;
  color: white;
}

.fa-dribbble {
  background: #ea4c89;
  color: white;
}

.fa-vimeo {
  background: #45bbff;
  color: white;
}

.fa-tumblr {
  background: #2c4762;
  color: white;
}

.fa-vine {
  background: #00b489;
  color: white;
}

.fa-foursquare {
  background: #45bbff;
  color: white;
}

.fa-stumbleupon {
  background: #eb4924;
  color: white;
}

.fa-flickr {
  background: #f40083;
  color: white;
}

.fa-yahoo {
  background: #430297;
  color: white;
}

.fa-soundcloud {
  background: #ff5500;
  color: white;
}

.fa-reddit {
  background: #ff5700;
  color: white;
}

.fa-rss {
  background: #ff6600;
  color: white;
}
</style>
</head>

<body>
   
    <a class="header">

        <img class="img-responsive" width="100%" src="https://ik.imagekit.io/Wally1/Chitadama_Tours/images/Chitadama_Final.png?ik-sdk-version=javascript-1.4.3&updatedAt=1676915497623" />
        <a id="google_translate_element"></a>

    </div>

    <div class="header">

        <div class="container">

            <div class="header-nav">
                <nav class="navbar navbar-default">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>

                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "hvr-sweep-to-bottom active" : "")">@Html.ActionLink("Home", "Index", "Home")</li>
                            <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Safaris" ? "hvr-sweep-to-bottom active" : "")">@Html.ActionLink("Safaris", "Safaris", "Home")</li>
                            <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "gallery" ? "hvr-sweep-to-bottom active" : "")">@Html.ActionLink("Lodges ", "gallery", "Home")</li>
                            <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Galleries" ? "hvr-sweep-to-bottom active" : "")">@Html.ActionLink("Gallery", "Galleries", "Home")</li>

                            <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Activities" ? "hvr-sweep-to-bottom active" : "")">@Html.ActionLink("Activities", "Activities", "Home")</li>
                            <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Foods" ? "hvr-sweep-to-bottom active" : "")">@Html.ActionLink("Dining", "Foods", "Home")</li>
                            <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "About" ? "hvr-sweep-to-bottom active" : "")">@Html.ActionLink("About", "About", "Home")</li>
                            <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Review" ? "hvr-sweep-to-bottom active" : "")">@Html.ActionLink("Reviews", "Review", "Home")</li>
                             <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Videos" ? "hvr-sweep-to-bottom active" : "")">@Html.ActionLink("Videos", "Videos", "Home")</li>

                            <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Contact" ? "hvr-sweep-to-bottom active" : "")">@Html.ActionLink("Contact Us", "Contact", "Home")</li>

                        </ul>
                    </div><!-- /.navbar-collapse -->
                </nav>
            </div>
        </div>
    </div>
    <!-- //header -->
    <!-- banner -->
    @*<div class="banner1-info">
        <div class="container">

            <div id="main">
                <div class="slider">
                    <ul>
                        <li>

                            <img class="img-responsive" height="50%" src="~/SlideShow/CSC_0926.JPG" alt="">

                        </li>
                        <li>

                            <img class="img-responsive" height="50%" src="~/SlideShow/DSC_0112.JPG" alt="">

                        </li>
                        <li>

                            <img class="img-responsive" height="50%" src="~/SlideShow/DSC_0115.JPG" alt="">

                        </li>
                        <li>

                            <img class="img-responsive" height="50%" src="~/SlideShow/DSC_0211.JPG" alt="">

                        </li>
                        <li>

                            <img class="img-responsive" height="50%" src="~/SlideShow/DSC_0250.JPG" alt="">

                        </li>
                        <li>

                            <img class="img-responsive" height="50%" src="~/SlideShow/DSC_0436.JPG" alt="">

                        </li>
                        <li>

                            <img class="img-responsive" height="50%" src="~/SlideShow/DSC_0877.JPG" alt="">

                        </li>
                        <li>

                            <img class="img-responsive" height="50%" src="~/SlideShow/DSC00836.JPG" alt="">

                        </li>
                        <li>

                            <img class="img-responsive" height="50%" src="~/SlideShow/leopard.jpg" alt="">

                        </li>
                        <li>

                            <img class="img-responsive" height="50%" src="~/SlideShow/rhino.jpg" alt="">

                        </li>


                    </ul>
                </div>
                
            </div>


        </div>
    </div>*@
        <!-- //banner -->
        <!-- banner-bottom -->
        <div class="banner-bottom">
            <div class="container">
                @RenderBody()
            </div>
        </div>
        </div>

        <div class="footer">
            <div class="container">
                <div class="col-md-2 ftr_navi ftr">
                    <h3>Links</h3>
                    <ul>
                        <li><a href="~/Home/Index">Home</a></li>
                        <li><a href="~/Home/Safaris">Safaris</a></li>
                        <li><a href="~/Home/Activities">Activities</a></li>
                        <li><a href="~/Home/Foods" class="scroll">Dining</a></li>
                        <li><a href="~/Home/Galleries" class="scroll">Gallery</a></li>
                        <li><a href="~/Home/About" class="scroll">About</a></li>
                        <li><a href="~/Home/Contact">Contact</a></li>
                    </ul>
                </div>
					  <div class="col-md-3 ftr_navi ftr">
                    <h3>Social Media</h3>
                    <ul>
						<li><a  href="https://www.linkedin.com/in/walter-burkhard-938837186" class="fa fa-linkedin"></a>
					LinkedIn</li>
                    <li><a   href="https://www.twitter.com/WalterBurkhard7" class="fa fa-twitter"></a> Twitter </li>      </ul>
                </div>
                <div class="col-md-3 ftr_navi ftr">
                    <h3>Luxurious Lodges</h3>
                    <ul>
                        <li><a href="~/Home/gallery">Lodges 1</a></li>
                        <li><a href="~/Home/gallery2">Lodges 2</a></li>
                        <li><a href="~/Home/gallery3">Lodges 3</a></li>
                        <li><a href="~/Home/gallery4">Lodges 4</a></li>
                        <li><a href="~/Home/gallery5">Lodges 5</a></li>
                        <li><a href="~/Home/gallery6">Lodges 6</a></li>
                    </ul>
                </div>
                 <div class="col-md-4 ftr-logo">
                    <a href="#"><h3>Chitadama<span>Tours</span></h3></a>
                    <ul>
                        <a href="#" onclick="window.open('https://www.sitelock.com/verify.php?site=chitadamatours.com','SiteLock','width=600,height=600,left=160,top=170');"><img class="img-responsive" alt="SiteLock" title="SiteLock" src="//shield.sitelock.com/shield/chitadamatours.com" /></a>
         
                  
                    </ul>
                    <p>© 2023 Chitadama Tours Design by <a href="https://weightypremiersolutions.com/">Weighty Investments</a></p>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
        <!--footer-->
        <!-- for bootstrap working -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        
        <!-- //for bootstrap working -->
        @*@Scripts.Render("~/bundles/jquery")<script src="~/webb/js/bootstrap.js"></script>
        @Scripts.Render("~/bundles/bootstrap")*@
        @RenderSection("scripts", required: false)
</body>

 

</html>
